<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand" routerLink="/" style="cursor: pointer">Notes tutorial app</div>
      <div class="navbar-form navbar-right">
        <app-login-form>
        <a class="btn btn-primary" routerLink="/register">Register</a>
        </app-login-form>
      </div>
    </div>
  </div>
</nav>
<br>

      <router-outlet></router-outlet>
<a [routerLink]="'wrongpage'">Wrong Page</a>

